@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* LOADER ANIMATION */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  45% {
    opacity: 1;
    transform: translateY(19px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }

  45% {
    opacity: 1;
    transform: translateY(19px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* PAGES INTRO ANIMATION */

@keyframes ring {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateX(4px) rotate(-17deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes ring {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateX(4px) rotate(-17deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
/* BELL ANIMATION */
